{% extends "::base.html.twig" %}

{% block title %}Wyniki wyszukiwania dla <strong>{{ query }}</strong>{% endblock %}

{% block body %}
    
    <h1>{{ block('title') }}</h1>
    
    {% if products|length > 0 %}
    
    	<p>Znaleziono {{ products|length }} produktów.</p>
    
    {% else %}
    
    	<p>Nic nie znaleziono.</p>
    
    {% endif %}
    
    {% for product in products %}

        {% if loop.first or (loop.index % 4) == 0  %}
            <div class="row">
        {% endif %} 

			{% include 'products/product.html.twig' %}

        {% if loop.last or (loop.index % 4) == 0  %}
            </div>
        {% endif %}

    {% endfor %}    
    
{% endblock %}